.home{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.row{
    display: flex;
    align-items: center;
    z-index: 1;
}
.banner{
    position: sticky;
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}