.product{
    display: flex;
    flex-direction: column;

    padding: 20px;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    width: 100%;
    max-height: 400px;
    

    background-color: white;
    z-index: 1;
}
.product_img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}
.item_button{
    border: 1px solid;
    background-color: goldenrod;
    color: black;
    padding: 5px;
    border-color: rgb(68, 58, 2);
}
.product_info{
    width: 100%;
}
.product_rating{
    display: flex;
}